* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

:root {
    var(--corpreta: #000000)
    var(--cinzaescuro: #f5f5f5)
    var(--cinzaclaro: #d5d5d5)
    var(--verde: #49b970)
}

body {
    background-color: #f5f3f3;
}

div {
    padding: 50px;
    width: 930px;
    text-align: center;
    margin: 0px auto;
    border-bottom: 1px solid #d5d5d5; 
}

h2, h3, p {
    margin: 15px auto 30px auto;
    line-height: 28px;
}

img {
    width: 190px;
    margin: 10px;
    
}

a {
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #49b970;
    border-radius: 25px;
}

span {
    font-weight: bold;
}




